.my-button {
    -fx-text-fill: cyan;
    
    -fx-background-color: black;
    -fx-border-color: cyan;
    
    -fx-font-family: "algerian";
    
    
    
}
.my-button:hover{
    -fx-background-color: pink;
}
.my-button:focused{
    -fx-background-color: darkgreen;
}

.my-button:pressed{
    -fx-background-color: greenyellow;
}

.root {
    
    
}

.table1 {
    -fx-background-color: purple;
    -fx-border-color: red;
}

.table2 {
    -fx-background-image: url(asd.png);
}

.tab1-header {
    -fx-text-fill: yellow;
    -fx-font-size: 24;
    -fx-alignment: center;
    -fx-font-family: "Lucida Console";
}
